<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/zui.css" media="all">
    <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all">
    <link href="__CSS__/animate.min.css" rel="stylesheet">
    <link href="__CSS__/font-awesome.min.css" rel="stylesheet">
    <link href="__ASSETS_CSS__/bootstrap.min.css" rel="stylesheet" type="text/css">

    <style> body { background: url("__STATIC__/images/4.jpg")}</style>
</head>
<body>
    <div class="main-box"></div>
    <div class="main-content content-page">
        <div class="login-body  animated fadeInLeft">
            <div class="login-main pr">
                <form action="doLogin" method="post" class="login-form">
                    <h3> 管理中心 </h3>
                    <h5 style="padding-bottom: 10px"> System Management Center </h5>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form">
                                        <div class="form-group">
                                            <label for="username" class="control-label col-lg-2">用户名 *</label>
                                            <div class="col-lg-10">
                                                <input class="form-control" id="username" name="username" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password" class="control-label col-lg-2">密码 *</label>
                                            <div class="col-lg-10">
                                                <input class="form-control" id="password" name="password" type="password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirm_password" class="control-label col-lg-2">密码确认 *</label>
                                            <div class="col-lg-10">
                                                <input class="form-control" id="confirm_password" name="confirm_password" type="password">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-lg-offset-2 col-lg-10">
                                                <button class="btn btn-success waves-effect waves-light" type="submit">Save</button>
                                                <button class="btn btn-default waves-effect" type="button">Cancel</button>
                                            </div>
                                        </div>f
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>