<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all" >
    <link href="__STATIC__/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/assets/css/icons.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/assets/css/pages.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/assets/css/menu.css" rel="stylesheet" type="text/css">
    <link href="__STATIC__/assets/css/responsive.css" rel="stylesheet" type="text/css">

    <script src="__STATIC__/assets/js/modernizr.min.js"></script>
    <style> body { background: url("__STATIC__/images/4.jpg")}</style>
</head>
<body>
    <div class="main-box"></div>
    <div class="main-content">
        <div class="login-body  animated fadeInLeft">

        </div>
    </div>
</body>
</html>