<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/login.css" media="all" >
    <link href="__ASSETS_CSS__/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="__ASSETS_CSS__/core.css" rel="stylesheet" type="text/css">
    <link href="__ASSETS_CSS__/icons.css" rel="stylesheet" type="text/css">
    <link href="__ASSETS_CSS__/components.css" rel="stylesheet" type="text/css">
    <link href="__ASSETS_CSS__/pages.css" rel="stylesheet" type="text/css">
    <link href="__ASSETS_CSS__/menu.css" rel="stylesheet" type="text/css">
    <link href="__ASSETS_CSS__/responsive.css" rel="stylesheet" type="text/css">

    <script src="__ASSETS_JS__/modernizr.min.js"></script>
    <style> body { background: url("__STATIC__/images/4.jpg")}</style>
</head>
<body>
    <div class="main-box"></div>
    <div class="main-content">
        <div class="login-body  animated fadeInLeft">

        </div>
    </div>
</body>
</html>